<div style="background: #FFFFFF; width: 100%; height: 100%">
  <div style="display: table; margin: 0 auto; width: 370px; height: 450px;">
    <div style="width: 370px; height: 450px; font-family: verdana,arial,sans-serif;">
      <div style="width: 300px; margin: 96px auto;">
        <div style="width: 350px; height: 55px; display: table;">
          <div style="display: table; margin: 18px 30px;">
            <span style="float: left;font-weight: bold; font-size: 20px;">Welcome aboard!</span>
          </div>
        </div>
        <div style="width: 350px; height: 240px; display: table;margin-top: -4px;">
          <div style="display: table;margin: 0 30px;">
            <span style="margin-top: 20px; display: table; width: 100%; color: #4a4a4a; font-size: 12px;">Hello $NAME,</span>
            <span
                style="margin-top: 20px; display: table; width: 100%; color: #4a4a4a; font-size: 12px;">We're glad that you've joined us!</span>
            <span style="margin-top: 10px; display: table; width: 100%; color: #4a4a4a; font-size: 12px;">Ping-Pong Game.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>